extends ../layout

block content
    section#report
        h3 Report from #{report.from} to #{report.to} by #{report.type}

        table
            tr
                if report.type == "genre"
                    th Genre
                else if report.type == "book"
                    th Book
                else
                    th Author
                th Sales
                th Revenue
                th Profit
                th Expenditure
                
            - const totalSales = report.results.reduce((acc, row) => acc + parseInt(row.total_sales), 0);
            - const totalRevenue = report.results.reduce((acc, row) => acc + parseInt(row.total_revenue), 0);
            - const totalProfit = report.results.reduce((acc, row) => acc + parseInt(row.total_profit), 0);
            - const totalLost = report.results.reduce((acc, row) => acc + parseInt(row.profit_lost), 0);
            tr#totals
                td Total
                td #{totalSales}
                td $#{totalRevenue.toFixed(2)}
                td $#{totalProfit.toFixed(2)}
                td $#{totalLost.toFixed(2)}

            each row in report.results
                tr
                    if report.type == "genre"
                        td #{row.genre}
                    else if report.type == "book"
                        td 
                            a(href="/books/" + row.book) #{row.book}
                    else
                        td #{row.author}
                    td #{row.total_sales}
                    td $#{parseInt(row.total_revenue).toFixed(2)}
                    td $#{parseInt(row.total_profit).toFixed(2)}
                    td $#{parseInt(row.profit_lost).toFixed(2)}
            
        