extends layout

block content
    section#main-info
        #cover
        #info
            h1 #{book.title}

             - let authors = [];
            each author in book.authors
                - authors.push('<a href="/books?author=' + author + '">' + author + '</a>');
            - authors = authors.join(", ");
            span#authors
                != authors

            //!!br broken
            p#description #{book.blurb}

            #genres
                each genre in book.genres
                    button
                        a(href="/books?genre=" + genre) #{genre} 

            #book-data
                p <b>Release Date:</b> #{book.release_date}
                p <b>Format:</b> #{book.book_format}
                p <b>Page count:</b> #{book.page_num}
                p <b>Publisher:</b> #{book.publisher}

            if book.instock
                button#buy $#{book.price} - Add to Cart
            else   
                button#buy(disabled) Out of Stock