extends layout

block scripts
    +script("browse")
    +script("cart")

block content
    aside#search-options
        h2 Search
        form(id="search" name="search" action="/books" method="get") 
            .form-sect
                label(for="isbn") ISBN:
                input.person(id="isbn" type="text" name="isbn" value=params.isbn)
            .form-sect
                label(for="title") Title:
                input(id="title" type="text" name="title" value=params.title)
            .form-sect
                label(for="genre") Genre:
                input(id="genre" type="text" name="genre" value=params.genre)
            .form-sect
                label(for="author") Author:
                input.person(id="author" type="text" name="author" value=params.author)
            .form-sect
                label(for="format") Format:
                input.person(id="format" type="text" name="format" value=params.format)
            .form-sect
                label(for="minPrice") Minimum Price: 
                input(type="number" id="minPrice" name="minPrice" step="0.01" min="0.01" max="10000" value=params.minPrice)
            .form-sect
                label(for="maxPrice") Maximum Price: 
                input(type="number" id="maxPrice" name="maxPrice" step="0.01" min="0.01" max="10000" value=params.maxPrice)
            
            input(type="submit" value="Search")

    section#book-list
        each book in books
            .result
                a.cover(href="/books/" + book.isbn)
                    img(src=book.cover)
                .book-data
                    h2
                        a(href="/books/" + book.isbn) #{book.title}

                    - let authors = [];
                    each author in book.authors
                        - authors.push('<a href="/books?author=' + author + '">' + author + '</a>');
                    - authors = authors.join(", ");

                    span.authors
                        != authors

                    +buyBtn(book)

        
        #pagination
            if page > 1
                button#back(onclick="changePage(" + (page - 1) + ")") Back
            if books.length == 20 
                button#next(onclick="changePage(" + (page + 1) + ")") Next