extends layout

block content
    section.order#order-books
        h1 Order ##{order.data.number}
        each book in order.books
            .cart-item
                h3  
                    a(href="/books/" + book.isbn) #{book.title}
                - const price = parseInt(book.price).toFixed(2);
                span $#{price} - #{book.quantity}x
        - const total = parseInt(order.data.total).toFixed(2);
        #total Total - $#{total}

    section.order#address-card
        h3 Shipped To
        .part
            b #{order.data.fname} #{order.data.lname} 
            br
            p #{order.data.street}
            p #{order.data.city} #{order.data.province} #{order.data.postal_code}
            p #{order.data.country}
            p #{order.data.phone_num}
        
        h3 Billed To
        .part
            p $#{total} - #{order.data.card_num}


    section.order#progress
        if order.data.arrival_date
            h3 Arrived on 
            .part
                b #{order.data.arrival_date.toLocaleString()}
        else
            h3 Tracking
            .part
                if !order.data.tracking
                    p Tracking not currently available
                else
                    a Link to external site

        h3 Status
        .part
            p In #{order.data.cur_location}

        if order.data.expected_date
            h3 Expected Arrival
            .part
                p #{order.data.expected_date.toLocaleString()}