extends ../layout

block scripts
    +script("billing")

block content
    section.checkout
        form#set-card(name="billing-form")
            h2 Select Card
            if session.user.cards.length
                each card in session.user.cards
                    .form-sect
                        input(type="radio" id="'card-" + card.card_id + "'" value="" + card.card_id + "" name="card") 
                        label(for="'card-" + card.card_id + "'") #{card.name} - #{card.card_num}

                input(type="submit" value="Next")
            else
                p No current cards. Please add one below.

        br

        form#new-card-form(name="new-card-form")
            h2 New Card
            .form-sect
                label(for="card_num") Card number:
                input(type="text" name="card_num" placeholder="1234567891234567" required minlength="16" maxlength="16" pattern="[0-9]{16}")
            .form-sect
                label(for="name") Name:
                input(type="text" name="name" placeholder="Name" required maxlength="40")
            .form-sect
                label(for="expiry") Expiry:
                input(type="month" name="expiry" placeholder="2025-08" min=(year + "-" + month) required)
            .form-sect
                label(for="cvv") CVV:
                input(type="text" name="cvv" placeholder="123" required minlength="2" maxlength="4" pattern="[0-9]{3,4}")

            br
            h3 Billing Address
            if session.user.addresses
                each address in session.user.addresses
                    .form-sect
                        input(type="radio" id="'" + address.id + "'" value="'" + address.id + "'" name="address" onchange="addressSelect(" + address.id + ")") 
                        label(for="'" + address.id + "'") #{address.fname} #{address.lname} - #{address.street}
            .form-sect
                input(type="radio" id="new" value="new" name="address" required onchange="addressSelect('new')") 
                label(for="new") New Address
            
            #new-address-sect(name="new-address-form")
                h3 Add new addresss
                .form-sect
                    label(for="fname") First name:
                    input.address(type="text" name="fname" placeholder="First Name" maxlength="15")
                .form-sect
                    label(for="lname") Last name:
                    input.address(type="text" name="lname" placeholder="Last name" maxlength="20")
                .form-sect
                    label(for="street") Street:
                    input.address(type="text" name="street" placeholder="Street name" maxlength="30")
                .form-sect
                    label(for="city") City:
                    input.address(type="text" name="city" placeholder="City name" maxlength="25")
                .form-sect
                    label(for="province") Province Code:
                    input.address(type="text" name="province" placeholder="Prov code" maxlength="2")
                .form-sect
                    label(for="postal_code") Postal/Zip Code:
                    input.address(type="text" name="postal_code" placeholder="Postal code" maxlength="10")
                .form-sect
                    label(for="country") Country:
                    input.address(type="text" name="country" placeholder="Country" maxlength="20")
                .form-sect
                    label(for="phone_num") Phone number:
                    input.address(type="phone" name="phone_num" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}")

            input#new-card(type="submit" value="Next")