extends ../layout

block content
    section#cart
        if session.cart.errors.length > 0
            h3 Changes to Cart:
            ul
                each item in session.cart.errors
                    li  
                        a(href="/books/" + item.isbn) #{item.title}
                        |  #{item.error}

        each item in session.cart.books
            .cart-item
                h3  #{item.title}
                span $#{item.price.toFixed(2)} - #{item.quantity}x

        #total Total - $#{session.cart.total.price.toFixed(2)}

        //show card & address
        form(id="place-order" name="place-orde" action="/orders" method="post") 
            input#send-restore(type="submit" value="Place Order")